
<div class='form-group row'>
    <div class="col-xs-12">
        <h1> Zoom: {{ ac.zoom }}</h1><br>
        <h1>{{ac.test[0].idd}}</h1>
 <!--

        <h1>Wind: {{ ac.wind }}</h1><br>

        <h1> API calls: {{ ac.apicalls}}</h1><br>
/-->

    </div>
</div>
</div>
<table>
    <tr><td>
        <md-slider-container>
            <span>Min Speed</span>
            <md-slider flex="" min="25" max="55" default="45" ng-model="minspeedval" aria-label="red" id="red-slider"></md-slider>
            <md-input-container>
                <input flex="" type="number" ng-model="minspeedval" aria-label="red" aria-controls="red-slider">
            </md-input-container>
        </md-slider-container>
        <md-slider-container>
            <span>Max Speed</span>
            <md-slider flex="" min="25" max="70" default="45" ng-model="speedval" aria-label="red" id="red-slider"></md-slider>
            <md-input-container>
                <input flex="" type="number" ng-model="speedval" aria-label="red" aria-controls="red-slider">
            </md-input-container>
        </md-slider-container>
        <md-slider-container>
            <span>Min Distance</span>
            <md-slider flex="" min="100" max="8000" default="400" ng-model="mindistval" aria-label="red" id="red-slider"></md-slider>
            <md-input-container>
                <input flex="" type="number" ng-model="mindistval" aria-label="red" aria-controls="red-slider">
            </md-input-container>
        </md-slider-container>
        <td>
        <md-slider-container>
            <span>Max Distance</span>
            <md-slider flex="" min="300" max="8000" default="5000" ng-model="maxdistval" aria-label="red" id="red-slider"></md-slider>
            <md-input-container>
                <input flex="" type="number" ng-model="maxdistval" aria-label="red" aria-controls="red-slider">
            </md-input-container>
        </md-slider-container>
        <md-slider-container>
            <span>Minimal windsupport</span>
            <md-slider flex="" min="0" max="100" ng-model="minwindsupport" aria-label="red" id="red-slider"></md-slider>
            <md-input-container>
                <input flex="" type="number" ng-model="minwindsupport" aria-label="red" aria-controls="red-slider">
            </md-input-container>
        </md-slider-container></td>
    </td></tr>
    <tr valign="top"><td valign="top">
    <button ng-click="ac.getbounds()" >Get Segments</button>

        <button ng-click="ac.test4()" >save</button>
        <button ng-click="ac.test5()" >clear</button>
    </td>
    <td>{{selectedCity.segmentname}}</td></tr>
    <tr><td valign="top">
    <ng-map id="foomap" style="height:800px;width:800px;" center={{ac.center}} zoom="14">
        <marker id={{s.idd}} ng-repeat="s in ac.leaderboard | filter:speedf" position="{{s.pos}}"  title="{{s.segmentname }}" on-click="showCity(event, s)" icon="https://mt.googleapis.com/vt/icon/name=icons/onion/39-cycling.png"></marker>
        <info-window id="myInfoWindow" position="{{selectedCity.start_latlng}}">
            <div ng-non-bindable>
                <h4>{{selectedCity.segmentname}}</h4>
                <br>
                <table class="features-table" id="timeTable" class="table">
                    <tr ng-repeat="n in selectedCity.entries | orderBy : '-(((n.distance / n.elapsed_time) * 3600)/1000  ).toFixed(2)'">
                        <td>{{ n.athlete_name }}</td>
                        <td>{{ (((selectedCity.sdistance / n.elapsed_time) * 3600)/1000  ).toFixed(2) }}</td>
                        </td>
                    </tr>
                </table>
            </div>
        </info-window>
        <shape ng-repeat="s in ac.leaderboard | filter:speedf" name="polyline" path="{{s.points}}" geodesic="true" stroke-color="rgb({{
        255 - ((((speedval - (((s.entries[0].distance / s.entries[0].elapsed_time) * 3600)/1000  ).toFixed(2)) /
    (speedval - minspeedval)) * 255).toFixed(0).toString())
        }},{{
(((speedval - (((s.entries[0].distance / s.entries[0].elapsed_time) * 3600)/1000  ).toFixed(2)) /
    (speedval - minspeedval)) * 255).toFixed(0).toString()
        }},0)" stroke-opacity="1.0" stroke-weight="2">
        </shape>
        <!--
          <shape ng-repeat="a in ac.area" name="rectangle"
                 stroke-color="#FF0000"
                 stroke-opacity="0.8"
                 stroke-weight="2"
                 fill-color="#FF0000"
                 fill-opacity="0.1"
                 bounds="[
             [{{a.swla}}, {{a.swlng}}],
             [{{a.nela}}, {{a.nelng}}]
           ]">
/-->
          </shape>
        </ng-map>
</td>
        <td><table>
        <td valign="top" align="right">
            <div class=scrollable>
        <table class="features-table" id="activitiesTable" class="table">
        <tr ng-repeat="n in ac.leaderboard | filter:speedf |  orderBy : 'entries[0].distance / entries[0].elapsed_time'">
            <td> <input
                    id="{{n.segmentname}}" type="checkbox" value="{{n.segmentname}}"
                    ng-checked="selectedCity.idd==n.idd"
                    ng-click="ac.toggleSelection(n)" />
           <a href="" ng-click="ac.toggleSelection(n)">{{ n.segmentname }}</a></td>
            <td>{{ n.windsupport }}</td>
            <!-- <td>{{ n.direction }}</td> /-->

            <td>{{ (((n.entries[0].distance / n.entries[0].elapsed_time) * 3600)/1000  ).toFixed(2) }}</td>
        </tr>
        </table></div>
    </td><td valign="top" align="right">
        <ng-map id="2" zoom="24" center="{{selectedCity.start_latlng}}"
                default-style="false"
                style="height:550px;width:800px;"
                map-type-id="MapTypeId.SATELLITE" tilt="45">
            <shape name="polyline" path="{{selectedCity.points}}" geodesic="true" stroke-color="rgb(255,0,0)" stroke-opacity="1.0" stroke-weight="2">
            </shape>
        </ng-map>        </td></table>

            <table>
        <tr>
            <td>
                <table class="features-table" id="timeTable" class="table" align="right">
                <tr ng-repeat="n in selectedCity.entries | orderBy : '-(((n.distance / n.elapsed_time) * 3600)/1000  ).toFixed(2)'">
                    <td align="right">{{ n.athlete_name }}</td>
                    <td align="right">{{ (((selectedCity.sdistance / n.elapsed_time) * 3600)/1000  ).toFixed(2) }}</td>
                    </td>
                </tr>
                </table></td>
            <td width="1000px" height="500px">
                <ng-map id="3" zoom="20" center="40.740, -74.18"  style="height:500px;width:1050px;">
                    <street-view-panorama
                            click-to-go="false"
                            disable-default-u-i="false"
                            disable-double-click-zoom="false"
                            pov="{heading: heading, pitch: pitch}"
                            scrollwheel="false"
                            enable-close-button="true"
                            visible="true">
                    </street-view-panorama>
                </ng-map>
            </td>
        </tr>
            </table>


        </table></td>
    </tr>
    <tr><td></td>
        <td>
            </td>
        <td>
       {{ ac.returnlatlng(selectedCity.start_latlng)}}

    </td>



</tr></table>

